* {
    box-sizing: border-box;
}

body {
    background: url("https://wallpaperplay.com/walls/full/3/d/6/109609.jpg") no-repeat center fixed;
    background-size: cover;
    font-family: sans-serif;
    color: red;
  }
  .banner{
    margin-top: 50px
  }
  
  .start-quiz{
    text-align: center;
   
  }

  .question-score{
    text-align: center;
  }
  .numBanner{
    padding-left: 5px;
  }
  h1{
   display: block;
   text-align: center;
   
  }
  
  main{
    text-align: center;
    margin-top: 200px;
    background-color: black;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    
  }

  .enter-button, .submit-button, .next-button, .restart-button{
    display: inline;
    background-color: blue;
    color: white;
  }

  .enter-button:hover, .submit-button:hover, .next-button:hover, .restart-button:hover {
    cursor: pointer;
    font-size: 20px;
    border-color: red;
  }

  

  fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    
  }

  label{
    display: flex;
    
    margin-top: 10px;
    
  }

  input {
    margin-right: 5px;
  }
  input, .answer-choice:hover{
    cursor: pointer;
  }



  @media screen and (max-width: 830px) {
  body {
    font-size: 15px; 
    background-size: 830px;
    background-color: black;
  }
}

@media screen and (max-width: 550px) {
  body {
    font-size: 15px; 
    background-size: 550px;
    background-color: black;

  }
}

@media screen and (max-width: 550px) {
  main {
  width: 200px;
    
  }
}

@media screen and (max-width: 830px) {
  main {
  width: 300px;
    
  }
}
  
  


